
.vs/KitBox/v15/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
KitBoxProgram/.vs/KitBoxProgram/v15/.suo
KitBoxProgram/.vs/KitBoxProgram/v15/.suo
KitBoxProgram/KitBoxProgram/KitBoxProgram.csproj.user
KitBoxProgram/.vs/KitBoxProgram/v15/.suo
KitBoxProgram/.vs/KitBoxProgram/v15/.suo
