
KitBoxProgram/.vs/KitBoxProgram/v16/.suo
*.sqlite
*.ide-wal
*.ide-shm
KitBoxProgram/.vs/KitBoxProgram/v16/.suo
KitBoxProgram/.vs/slnx.sqlite
KitBoxProgram/AdminView/bin/Debug/AdminView.exe
KitBoxProgram/AdminView/obj/Debug/AdminView.exe
*.pdb
KitBoxProgram/AdminView/obj/Debug/AdminView.pdb
*.cache
KitBoxProgram/AdminView/obj/Debug/Views.csproj.CoreCompileInputs.cache
KitBoxProgram/AdminView/obj/Debug/Views.csproj.FileListAbsolute.txt
*.Cache
*.cache
*.cache
*.cache
*.cache
KitBoxProgram/KitBoxProgram/obj/Release/KitBoxProgram.csprojAssemblyReference.cache
*.cache
*.cache
*.cache
*.cache
*.cache
*.cache
*.cache
